@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    @apply font-mono
}

.up-spinner {
    position: absolute;
    top: calc(50% - 0.5rem);
    left: calc(50% - 0.5rem);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.2rem solid rgba(255, 255, 255, 0.3);
    border-top-color: white;
    animation: up-spin 1s linear infinite;
}

.up-spinner.dark {
    border-color: rgba(0, 0, 0, 0.3);
    border-top-color: black;
}

@keyframes up-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/**********
SCROLLBAR
***********/

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(219 234 254); /* tailwind blue 50 */
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(147 197 253); /* tailwind blue 300 */ 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:active {
    background: rgb(96 165 250);; /* tailwind blue 400 */
  }