.EasyMDEContainer .editor-toolbar {
    font-size: 1rem;
    border: 0;
    padding-left: 0;
    padding-right: 0;
    position: sticky;
    top: 4rem;
    z-index: 5;
    background-color: white;
}

.EasyMDEContainer div.CodeMirror {
    border: 0;
    padding-top: 2rem;
    padding-left: 0;
    padding-right: 0;
    background-color: inherit;
}

.EasyMDEContainer div.editor-statusbar {
    position: fixed;
    z-index: 40;
    bottom: 0;
    right: 0;
    width: 100vw;
    color: #94a3b8; /* slate 400 */
    background-color: #f1f5f9; /* slate 100 */
    border-top: 1px solid rgb(156, 163, 175);
}